snippet p "println"
println!("$0");
endsnippet

snippet l "let"
let $1 = $2
endsnippet

snippet lm "let mut"
let mut $1 = $2
endsnippet

snippet lmu "let mut"
let mut $0
endsnippet

snippet & "&mut" i
&mut $0
endsnippet

